.story--orbs{
    display:flex;
    flex-direction:row;
    height:5rem;
    background-color:black;
    padding-left:2rem;
}
.story--user{
    font-size:0.7rem;
}
.story--orbs img{
width:4rem;
object-fit:contain;
border:2px solid;

border-radius:50%;
background: linear-gradient(to left, #F9CE34, #EE2A7b, #6228D7);

height:inherit;
margin:auto;
display:block;
}
.orbs--gradient {
}
.story--img{
padding:1rem;
}