.side--bar{
    display:flex;
    flex-direction:column;
    background-color:black;
    align-items:flex-start;

    width:20rem;
    height:100vh;
    margin: 3rem 0 3rem 0;
}
.recommendation-board{
    margin-top:1.5rem;
    width:100%;
}
.btn-follow, .btn-cambiar{
    color:#4fb6ec;
}